.walkingmap-container {
  width: 100%;
  height: 100vh;
  position: relative;

  .walkingmap {
    width: 100%;
    height: 100%;
  }
  .controls {
    position: absolute;
    bottom: 12vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
  }
}
.walkingbtn_container {
  margin-bottom: 10px;
  font-family: monospace;
  font-weight: bold;
}
