<turbo-frame id="modal" class="modal-frame" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100vw; height: 100vh; background: #fff; z-index: 1200;">
  <div class="homepage" style="width: 100%; height: 100%; position: relative;" data-controller="map-click">
    <div class="map-container" style="width: 100%; height: 100%; position: absolute; inset: 0;" data-action="click->map-click#hidePanel">
      <div style="width: 100%; height: 100%;"
           data-controller="map"
           data-map-api-key-value="<%= ENV.fetch('MAPBOX_API_KEY') %>">
      </div>
    </div>
    <%= render "shared/walking_new", walking: @walking %>
  </div>
</turbo-frame>
