<div class="walkingmap-container"
     data-controller="stepcounter"
     data-stepcounter-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
     data-stepcounter-path-value="<%= @walking.circuit.coordinates.to_json %>">
  <!-- this is the map -->
  <div class="walkingmap" data-stepcounter-target="map"></div>
  <div class="controls">
    <div class="walkingbtn_container"data-stepcounter-target="display"></div>
    <button class="btn btn-primary"
            data-stepcounter-target="button"
            data-action="click->stepcounter#toggle">
      Commencer la balade
    </button>
  </div>
</div>
