<div class="navigation-panel"
		 data-controller="navigation"
		 data-navigation-coordinates-value="<%= @walking.coordinates.to_json %>">

	<!-- Heading and instruction -->
	<div class="navigation-panel__header">
		<div class="navigation-panel__header-top">
			<h3 class="navigation-panel__title">Navigation</h3>
			<button type="button"
							data-action="click->navigation#recenter"
						class="navigation-panel__recenter-btn"
						aria-label="Me recentrer">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
					<path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
				</svg>
			</button>
		</div>
		<p class="navigation-panel__instruction" data-navigation-target="instruction">
			Préparez-vous à partir
		</p>
	</div>

	<!-- Stats -->
	<div class="navigation-panel__stats">
		<div class="navigation-panel__stat-card">
			<div class="navigation-panel__stat-value" data-navigation-target="distance">-- km</div>
			<div class="navigation-panel__stat-label">Distance restante</div>
		</div>
		<div class="navigation-panel__stat-card">
			<div class="navigation-panel__stat-value" data-navigation-target="duration">-- min</div>
			<div class="navigation-panel__stat-label">Durée estimée</div>
		</div>
	</div>

</div>
