<div class="homepage">
  <div class="map-container">
    <div style="width: 100%; height: 100%;"
         data-controller="map"
         data-map-markers-value="<%= @markers.to_json %>"
         data-map-api-key-value="<%= ENV.fetch('MAPBOX_API_KEY') %>">
    </div>
  </div>
</div>

<% if params[:open_modal] %>
  <script>
    // Ouvrir la modal
    const modalFrame = document.querySelector('turbo-frame#modal');
    if (modalFrame) {
      modalFrame.src = '<%= new_walking_path %>';
    }
    // Nettoyer l'URL (enlever ?open_modal=true)
    window.history.replaceState({}, '', '/');
  </script>
<% end %>
