<div class="homepage">
  <div class="map-container">
    <img src="/assets/map.jpeg" alt="geomap" class="map-image">
  </div>
  <div class="action-button-container">
    <%= link_to "SE BALADER", "#", class: "btn-walk" %>
  </div>
</div>
