
<div class="walkingmap-container"
    data-controller="map"
    data-map-destination-value="<%= [@destination[:lng], @destination[:lat]].to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-route-value="true">

  <div class="walkingmap" data-map-target="map"></div>

  <%= render "shared/navigation_panel_meetup", destination: @destination %>
</div>
