.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.4);
  z-index: 100;

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;

    svg {
      width: 32px;
      height: 32px;
    }

    &.nav-settings {
      color: #ff69b4;
    }

    &.nav-activity {
      color: #00bfff;
    }

    &.nav-home {
      color: #7cfc00;
    }

    &.nav-profile {
      color: black;
    }
  }
}
