// External libraries
@import "font-awesome";

// Config (variables, mixins)
@import "config/index";

// Your CSS partials
@import "components/index";
@import "pages/index";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $bg-page;
  color: $text-main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-none {
  display: none;
}
