// External libraries
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color:white;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-none {
  display: none;
}
